[user]
	email = devtop@ranft.biz
	name = Tobias Ranft
[color]
	ui = true
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
	editor = vim
	pretty = format:%Cred%h%Creset - %s%C(yellow)%d %C(bold blue)<%an> %C(green)%cr
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)'
